@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Album>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="col-md-3">@ViewBag.Date2</h2>
        <div class="form-inline">
            <form class="center" asp-action="Index">
                <input class="form-control" id="datepicker" name="d" value="@ViewBag.Date" />
                <input class="btn btn-primary" type="submit" />
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var album in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="bordered-image center-block">
                    @if (SignInManager.IsSignedIn(User)
                         && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
                    {
                        <a asp-controller="Albums" asp-action="Edit" asp-route-id="@album.Id">
                            <img src="@album.ImageExtraLarge"/>
                        </a>
                    }
                    else
                    {
                        <img src="@album.ImageExtraLarge" />
                    }
                    <p class="text-center">
                        @album.Artist - @album.Name, @album.ReleaseDate.Day.@album.ReleaseDate.Month.@album.ReleaseDate.Year.
                    </p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy.' });
        });
    </script>
}
